<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= @event.start_date.strftime('%d/%m/%Y %H:%M') %>
      <%= f.text_field :start_date,as: :datetime,:value=>"#{@event.start_date.strftime('%d/%m/%Y %H:%M') if @event.start_date.present?}", :class => 'form-control' %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :end_date, as: :datetime,:value=>"#{@event.end_date.strftime('%d/%m/%Y %H:%M') if @event.end_date.present?}",:class => 'form-control' %>
    </div>
    <%=f.error_span(:end_date) %>
  </div>
  <div class="form-group">
    <%= f.label :private, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :private,:value=>@event.private, :class => 'form-control' %>
    </div>
    <%=f.error_span(:private) %>
  </div>
    <% users = User.all.map{ |c| [c.email, "#{c.id}:#{c.class}"]} %>
    <% groups = Group.all.map{ |c| [c.name, "#{c.id}:#{c.class}"]} %>


    <div class="form-group">
      <%= f.label :groups, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%#= f.select :user_ids, users+groups,:class => 'form-control'  %>
        <%= f.select(:group_ids, users+groups,{:include_blank => true, :selected => @event.users.map(&:id)},{ :multiple => true, :size => 5 }) %>

      </div>
      <%=f.error_span(:groups) %>
    </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>



<script type="text/javascript">
    $(function () {
        $('#event_start_date').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });
        $('#event_end_date').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });
    });
</script>